<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="connectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB; AttachDbFilename=|DataDirectory|\APP_DATA\database.mdf;Integrated Security = True"
   providerName="System.Data.SqlClient" />
<!--
		<add name="connectionString" connectionString="server=108.179.253.180;user=hoptco94_sengi;database=hoptco94_teste;password=******;"
		 providerName="System.Data.MySqlClient" />
-->
	</connectionStrings>

</configuration>